services:
  redis:
    image: redis:7

  celery:
    build: .
    command: celery -A backend worker -l info
    depends_on:
      - redis
      - db
    environment:
      DB_NAME: metoffice_db
      DB_USER: prithvi
      DB_PASSWORD: db
      DB_HOST: db
